/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/docker/data
.php_cs.cache
.phpunit.result.cache
